<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="juegosDisponibles">
        <ion-icon name="game-controller"></ion-icon>
        <ion-label>Disponibles</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="juegosCompletados">
        <ion-icon name="checkmark-done-circle"></ion-icon>
        <ion-label>Completados</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="estadisticas">
        <ion-icon name="trophy"></ion-icon>
        <ion-label>Estadísticas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>
