ion-button {
  --background: rgba(228, 235, 235, 0.5);
  --color: black;
}

ion-content {
  --background: url("../../assets/images/background.jpg") no-repeat center/cover
    fixed;
}

.div-label-error {
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: var(--ion-color-danger);
  font-size: smaller;
  padding: 10px;
}

.error-message-insert {
  color: var(--ion-color-danger);
  font-size: larger;
  padding: 10px;
}

.delete-button{
  background-color: red;
}
.img{
  max-width:80vw;
  max-height:80vh;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}